@use 'fonts' as f;

h1 {
    font-family: f.$font-h;
    font-size: 90px;
    font-weight: 500;
    line-height: 102px;
    letter-spacing: -2px;
    text-align: left;
}

p {
    font-family: f.$font-p;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
}