/*
font-logo-desktop: 'Aldrich', sans-serif;
font-logo-tabletmobile: 'Baloo 2', sans-serif;
font-h: 'Poppins', sans-serif;
font-p: 'Source Sans 3', sans-serif;
*/

body {
    max-width: 1440px;
    width: 100%;
    min-height: auto;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
}


/* ===== HEADER ====== */

.header-container {
     /*max-width: 864px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}


/*.head-logo_desktop (.svg) {
    width: 90px;
    height: 36px;
    margin: 0; 
    padding: 0;
}*/

.header-logo__desktop /* (h2) */{
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.25px;
    text-align: left;
}

.header-nav {
    display: flex;
}

.header-nav__item {
    color: rgba(36, 38, 53, 1);
    padding: 20px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-decoration: none;
}

/* ===== MAIN CONTENT ====== */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
}

h1 { /* --- Heading - desktop styling --- */
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 500;
    line-height: 102px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 0;
}

p { /* --- Main text + nav list styling --- */
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}

.container-p {
    max-width: 50%;
    margin: auto;
}


.img-adaptive, .img-adaptive__default__desktop {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* ====== MEDIA QUERYS - START ====== */
/* Desktop screen - 769px-above (default) 
@media screen and (min-width: 769px) {
}*/

/* TABLET SCREEN - 480px-768px */
@media screen and (max-width: 768px) {
  .header-logo__desktop {
      font-family: 'Baloo 2', sans-serif;
  }
  h1 {
    font-size: 72px;
  }
  .header-nav__mobile {
    display: none;
  }
}


/* Mobile screen - 320px-479px */
@media screen and (min-width: 320px), (max-width: 479px) {
  h1 {
      font-size: 36px;
  }
  .__item {
    display: none;
  }
}


/* ====== MEDIA QUERYS - END ====== */